* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#root {
  width: 95vw;
  margin: 0 auto;
}

.kunTun {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.title {
  font-weight: 600;
  font-size: 24px;
}

.title span {
  color: rgb(4, 207, 88);
}

.kuntun {
  height: 25px;
  padding: 2.5px 4px;
  font-size: 10.72px;
  border: 3px solid rgb(4, 207, 88);
  cursor: pointer;
  border-radius: 20px;
}

.kuntun:active {
  transform: scale(1.03);
}

/* Search  Component */

.searchBox {
  width: 100%;
  padding: 1%;
  border: 3px solid rgb(4, 207, 88);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(235, 232, 232);
}

.search {
  padding: 1% 0;
}

.searchInput {
  width: 100%;
  padding: 1% 0;
  border: none;
  outline: none;
  background-color: rgb(235, 232, 232);
}

/* /Search  Component */

/* CardComponent */

.cardContainer {
  padding: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 17.5rem;
  border-radius: 8px;
  background-color: rgb(3, 156, 80);
  padding: 8px;
}

.card:hover {
  box-shadow: 0px 0px 4px #000;
}

.topCard textarea {
  width: 100%;
  resize: none;
  height: 135px;
  background-color: rgb(3, 172, 95);
  outline: none;
  border: none;
  padding: 10px;
}

.bottomCard {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number,
.number span {
  font-size: 13.2px;
}

.btnSave {
  padding: 3px 6px;
  border: 2px solid rgb(3, 230, 80);
  border-radius: 10px;
  cursor: pointer;
}

.btnSave:active {
  transform: scale(1.02);
}
